<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>PRODUCT</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Become an Affiliate</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column2-->
          <div class="footer-pad">
            <h4>COMPANY</h4>
            <ul class="list-unstyled">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column3-->
          <div class="footer-pad">
            <h4>CONTACT</h4>
            <ul class="list-unstyled">
              <li><a href="#">Ukraine, Lviv</a></li>
              <li><a href="#">Dzherelna st., 42</a></li>
              <li><a href="#">+38(093)388-32-55</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Follow Us</h4>
          <ul class="social-network social-circle">
            <li><a href="https://www.facebook.com/Sweet-Time-in-Lviv-439943626832610" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
         </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright 2020 - Sweet Time in Lviv.  All rights reserved.</p>
        </div>
      </div>


    </div>
  </div>
</footer>
